* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 50px; }
  header .logo {
    position: relative;
    background-color: #f75311;
    padding-top: 10px;
    width: 15%;
    height: 50px;
    float: left; }
    header .logo img {
      position: absolute;
      width: 10%;
      top: 5px;
      bottom: 15px;
      height: auto; }
    header .logo a {
      color: white;
      font-size: 1em;
      padding: 2em; }
  header nav {
    width: 85%;
    background-color: #374249;
    float: right;
    height: 50px; }
    header nav ul {
      list-style: none;
      width: 100%; }
      header nav ul li {
        display: inline-block;
        padding: 1em 2em; }
        header nav ul li a {
          text-decoration: none;
          color: white; }
          header nav ul li a:hover {
            text-decoration: underline; }

section {
  width: 100%; }

.sec1 {
  background-image: url("../slike/intro.jpg");
  background-size: cover;
  height: 50em;
  text-align: center;
  position: relative; }
  .sec1 .naslovi {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 33%;
    padding: 10px; }
    .sec1 .naslovi h1 {
      font-size: 3em;
      font-weight: normal; }
    .sec1 .naslovi h2 {
      font-size: 1em;
      font-weight: normal; }

.sec2 {
  text-align: right;
  padding-top: 3em;
  padding-right: 15%;
  margin-bottom: 20px; }
  .sec2 button {
    background: #fff;
    border-radius: 30px;
    padding: 15px;
    border: 1px solid #cfd1d3;
    margin-right: 5em;
    color: #797979; }
    .sec2 button:hover {
      background: #cfd1d3;
      color: #fff; }

.hover {
  display: none;
  width: 100%;
  height: 30%;
  background: rgba(255, 255, 255, 0.5);
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  font-size: 1.7em;
  padding: 10px 0 0 10px;
  font-weight: normal; }

.sec3 {
  background: #f3f7f9;
  height: auto;
  padding: 15px; }
  .sec3 .wrap1 {
    width: 80%;
    margin: 0 auto; }
    .sec3 .wrap1 .image {
      display: inline-block;
      width: 24%;
      overflow: hidden;
      height: 30em;
      position: relative; }
      .sec3 .wrap1 .image:hover .hover {
        display: block; }
      .sec3 .wrap1 .image img {
        width: 100%; }

.sec4 {
  text-align: center; }
  .sec4 h1 {
    font-size: 2em;
    color: #797979;
    text-transform: uppercase;
    padding-top: 2em; }
  .sec4 h2 {
    font-size: 1em;
    color: #797979;
    padding-bottom: 3em;
    padding-top: 2em;
    font-weight: normal; }
  .sec4 button {
    display: none;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    background: #fff;
    color: #797979;
    padding: 15px;
    margin: 20px auto;
    font-weight: bold; }

table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  color: #fff;
  margin-bottom: 2em; }
  table th, table td {
    border: 1px solid #cfd1d3;
    padding: 5px; }
  table .empty {
    border-style: none; }
  table th {
    background: #f75311; }
  table .dark {
    background: #374249; }
  table tbody .black {
    color: #000; }

/*# sourceMappingURL=style.css.map */
