@import 'vars';
@import 'mixins';

*{
	margin:0;
	padding:0;
	font-family: $font;
	@include boxSizing;
}
header {
	width: 100%;
	height: 50px;

	.logo{
		position:relative;
		background-color:$orangeColor;
		padding-top:10px;
		width: 15%;
		height: 50px;
		float:left;
		
			img{
				position:absolute;
				width:10%;
				top:5px;
				bottom:15px;
				height:auto;
			
			}
			a{
				color:white;
				font-size:1em;
				padding:2em;
			}
	}
}

nav{
	width:85%;
	background-color:$hadAndFoot;
	float: right;
	height: 50px;
		
	ul{
		list-style: none;
		width: 100%;
		
		li{
			display:inline-block;
			padding:1em 2em;
			
			a{
				text-decoration:none;
				color:white;
				
				&:hover{
					text-decoration:underline;
				}
			}
		}
	}
}

section {
	width: 100%;
}
.sec1 {
	background-image:url("../slike/intro.jpg");
	background-size:cover;
	height: 50em;
	text-align: center;
	position: relative;
	
		.naslovi{
			background:rgba(0,0,0,0.5);
			color:#fff;
			position:absolute;
			top: 50%;
			left:33%;
			padding: 10px;
			
			h1{
				font-size: 3em;
				font-weight: normal;
			}
			
			h2{
				font-size: 1em;
				font-weight: normal;
			}
		}
}
.sec2{
	text-align: right;
	padding-top: 3em;
	padding-right: 15%;
	margin-bottom: 20px;

	button{
		background:#fff;
		border-radius: 30px;
		padding: 15px;
		border: 1px solid $hoverButton;
		margin-right: 5em;
		color:$fontColor;
		
		&:hover{
			background:$hoverButton;
			color:#fff;
		}
	}
}

.hover{
	display: none;
	width: 100%;
	height: 30%;
	background:rgba(255,255,255,0.5);
	text-align: left;
	position: absolute;
	top:0;
	left:0;
	color:#000;
	font-size: 1.7em;
	padding: 10px 0 0 10px;
	font-weight: normal;
}
.sec3{
	background:#f3f7f9;
	height: auto;
	padding: 15px;

	.wrap1{
		width: 80%;
		margin: 0 auto;


		.image{
			display:inline-block;
			width:24%;
			overflow: hidden;
			height:30em;
			position: relative;
		
			&:hover{

				.hover{
					display: block;
				}
			}
		
			img {
				width: 100%;
			
			}
		
		}
	}
	
	
}
.sec4{
	text-align: center;
		h1{
			font-size: 2em;
			color:$fontColor;
			text-transform:uppercase;
			padding-top:2em;
		}
		h2{
			font-size: 1em;
			color:$fontColor;
			padding-bottom:3em;
			padding-top:2em;
			font-weight: normal;
		}
		button{
			display:none;
			border: 1px solid #d3d3d3;
			border-radius: 20px;
			background: #fff;
			color:$fontColor;
			padding: 15px;
			margin: 20px auto;
			font-weight: bold;
		}
}

table{
	width: 60%;
	margin: 0 auto;
	border-collapse: collapse;
	color: #fff;
	margin-bottom: 2em;
		
		th,td{
			border: 1px solid $hoverButton;
			padding: 5px;
		}
		.empty{
			border-style:none;
		}
		
		th{
			background: $orangeColor;
		}
		.dark{
			background:$hadAndFoot;
		}
	
		tbody{
			.black{
				color: #000;
			}
		}
}
.sec5{
	text-align: center;
	background:$bckgSection;
	padding: 20px;
	margin: 20px auto;
	
		h1{
			font-size: 2em;
			color:$fontColor;
			text-transform:uppercase;
			margin-bottom: 2em;
		}
	
		iframe,form {
			display: inline-block;
			vertical-align:top;
			
		}
		form {
			background: $orangeColor;
			width: 35%;
			padding: 20px;
			margin-left: 4em;
		}
		
}
form {
		input[name="mrs"] {
			width: 29%;
			margin-bottom: 20px;
			padding: 8px;
		}
		input[name="name"]{
			width: 70%;
			padding: 8px;
		}
		input[name="email"],textarea {
			width: 100%;
			margin-bottom: 20px;
			padding: 8px;
		}
	
	}

footer {
		background: $hadAndFoot;
		color:#fff;
		line-height: 2em;
		text-align: center;
		
			span{
				color: $orangeColor;
			}
	}